@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


body, html {
    height: 5000px;
    font-family: 'Grey-Qo', 'Times New Roman', Times, serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent scrollbars from appearing */
}


.image-section {
    position: absolute;
    top: 0;
    width: 100vw; /* Use viewport width to ensure it spans the entire width */
    height: 100vh; /* Use viewport height to ensure it spans the entire height */
    overflow: hidden; /* Ensure no overflow */
    filter: brightness(2);
    z-index: -1;

}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container without distorting */

}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: add an overlay */
}

.centered-text {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.navbar_logo1 {
    width: 250px; /* Default size for larger screens */
    height: auto; /* Maintain aspect ratio */
    transition: width 0.3s ease; /* Smooth transition when resizing */
    margin-left: 20px; /* Adjust this value to set the distance from the left side */

}

@media (max-width: 992px) {
    /* Scale down logo for medium screens */
    .navbar_logo1 {
        width: 200px;
    }
}

@media (max-width: 768px) {
    /* Scale down logo further for small screens */
    .navbar_logo1 {
        width: 150px;
    }

    /* Hide original navbar items and use dropdown instead */
    .navbar-nav {
        display: none;
    }

    /* Create a single dropdown menu with all items */
    #navbarNavDropdown .navbar-nav {
        display: block;
    }

    #navbarNavDropdown .navbar-nav .nav-item {
        display: block;
        text-align: center;
    }
}

.navbar-nav .nav-link {
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1); /* Increase the size by 10% */
}
#EWB_front_text {
    margin-bottom: 40px;
    text-align: center; /* Center the text inside the container */
}

.join-us-box {
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: white; /* White background for the box */
    text-align: center;
}

.join-us-box p {
    margin: 0;
    font-size: 1.5rem;
    color: black; /* Black text */
    text-align: center;

}

.white-text-box {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px auto;
    width: 80%; /* Adjust the width as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px; /* Optional max width */
}